


/*---------Contenedor de categorias-----------*/

input[type="radio"]{
    display: none;
}

.container-category{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-category label{
    padding: 3px 20px;
    margin: 10px;
    font-size: 20px;
    background: #e2e2e2;
    border-radius: 7px;
    cursor: pointer;
}

.container-category label:hover{
    transform: scale(1.1);
}

/*----------Carrito------------*/

.container-carrito{
    max-width: 1200px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
}

.shopping-cart .shoppingCartItemsContainer .shopping-cart-item img{
    height: 150px;

}

.container-carrito .shopping-cart{
    background-color: #fff;
    width: 100%;
    padding: 0px 30px;
    box-shadow: 0 0 30px -30px black;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 3px rgb(170, 32, 32) solid;
}

.container-carrito .shopping-cart .container .text-center{
    text-align: center;
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.container-carrito .shopping-cart .container{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.container-carrito .shopping-cart .row{
    display: flex;
}

.container-carrito .shopping-cart .row .col-6{
    width: 40%;
}


.container-carrito .shopping-cart .row .col-2{
    width: 30%;
}

.container-carrito .shopping-cart .row .col-4{
    width: 30%;
}

.shopping-cart-header{
    text-align: center;
    font-size: 28px;
    margin-top: 18px;
    margin-bottom: 22px;
}

.shoppingCartItemsContainer{
    margin-top: 15px;
    margin-bottom: 25px;
}


.shoppingCartItemsContainer .shoppingCartItem{
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.shoppingCartItemsContainer .shoppingCartItem .item-price,
.shoppingCartItemsContainer .shoppingCartItem .btn-danger{
    margin-top: 50px;
    font-size: 25px;
}

.shoppingCartItemsContainer .shoppingCartItem .btn-danger{
    border: 3px solid lightgray;
    color: lightgray;
    font-size: 20px;
    background-color: black;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.shopping-cart .totales .col-12{
    display: flex;
    margin-bottom: 20px;
}

.shopping-cart .totales .col-12 .shopping-cart-total .mb-0{
    display: inline;
    width: 50%;
    margin-left: 30%;
    font-size: 18px;
    font-style: bold;
    color: black;
}

.shopping-cart .totales .col-12 .shopping-cart-total .mb-1{
    width: 10%;
    margin-left: 10%;
    font-size: 18px;
}

.shopping-cart .totales .col-12 .comprarButton{
    padding: 10px 50px;
    font-size: 16px;
    background: rgba(170,32,32);
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 20px;
}


/*---------Contendio del articulos---------*/

.container-cards{
    max-width: 1200px;
    margin: auto;
}

.cards{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-top: 25px;
    padding: 30px;
}


.cards .card{
    background: #fff;
    box-shadow: 0 0 20px -30px black;
    border-radius: 8px;
    overflow: hidden;
    padding-bottom: 20px;
    cursor: pointer;
}

.card .ctn-img{
    width: 100%;
    height: auto;
    padding: 20px;
}

.card .ctn-img img{
    width: 100%;
    height:100%;
    object-fit: cover;
}


.card .ctn-img img:hover{
    transform: scale(1.1);
    transition: 1s;
}

.card h2{
    font-size: 20px;
    margin-top: 20px;
    padding: 0px 20px;
    text-align: center;
    cursor: default;
}

.card h6{
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 0px 20px;
    cursor: default;
}

.card span{

    font-size: 14px;
    font-weight: bold;
    text-decoration: line-through;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 0px 20px;
    cursor: default;
}

.ctn-tag{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 16px;
    margin-top: 10px;
}

.ctn-tag li{
    list-style: none;
    font-size: 14px;
    margin: 4px;
    padding: 6px 10px;
    background: #e8e8e8;
    cursor: default;
}

.ctn-estre{
    margin-top: 10px;
    margin-left: 20px;
}


.card button{
    margin-top: 20px;
    padding: 10px 50px;
    font-size: 16px;
    background:  rgb(170, 32, 32);
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.card a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card button:hover{
    border-radius: 6px;
}

/*-------Filtrado-----------*/
[value="TODOS"]:checked ~ .cards .card[data-category]{
    display: block;
}

[value="LENOVO"]:checked ~ .cards .card:not([data-category~="LENOVO"]),
[value="SAMSUNG"]:checked ~ .cards .card:not([data-category~="SAMSUNG"]),
[value="ASUS"]:checked ~ .cards .card:not([data-category~="ASUS"]),
[value="HP"]:checked ~ .cards .card:not([data-category~="HP"]),
[value="ACER"]:checked ~ .cards .card:not([data-category~="ACER"]){
    display: none;
}

[value="TODOS"]:checked ~ .container-category [for="TODOS"],
[value="LENOVO"]:checked ~ .container-category [for="LENOVO"],
[value="SAMSUNG"]:checked ~ .container-category [for="SAMSUNG"],
[value="ASUS"]:checked ~ .container-category [for="ASUS"],
[value="HP"]:checked ~ .container-category [for="HP"],
[value="ACER"]:checked ~ .container-category [for="ACER"]{
    background:rgb(170, 32, 32);
    color: #fff;
}

/*---------------Responsive----------------------------*/

@media screen and (max-width:1220px){

    .container-carrito{
       max-width: 1000px;
       padding: 0px 20px;
    }
    
}

@media screen and (max-width: 1200px){
    .cards{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1100px) {
    .container-category{
        max-width: 1000px;
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container-category label{
        padding: 1.5px 10px;
        margin: 5px;
    }
}

@media screen and (max-width: 900px){
    .cards{
        grid-template-columns: repeat(2, 1fr);
    }

    .container-category{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media  screen and (max-width:830px) {
    .shopping-cart .container{
        width: 100%;
        padding: 0px 20px;
    }

    .shoppingCartItemsContainer .shoppingCartItem input{
        width: 80px;
    }
}

@media screen and (max-width: 580px){
    .cards{
        grid-template-columns: repeat(1, 1fr);
    }

    .container-carrito .shopping-cart .row{
        display: block;
    }

    .shopping-cart .totales .col-12{
        margin-bottom: 20px;
    }

}
